<div id="navigation" class="sidenav">	
	<svg href="javascript:void(0)" class="closebtn" onclick="toggleNav()" width="50" height="40">
      <polygon fill="#000000" points="39.4,30.4 29,20 39.4,9.6 35.4,5.6 25,16 14.6,5.6 10.6,9.6 21,20 10.6,30.4 14.6,34.4 25,24 
	35.4,34.4 "></polygon>
    </svg>
  	<ul>
      		<li id="home"><a href="#" class="menu-link">Home</a></li>
          <li id="my-projects"><a href="#" class="menu-link">My Projects</a></li>
          <li id="resources"><a href="#" class="menu-link">Resources</a></li>
          <li id="login"><a href="#" class="menu-link">Login</a></li>
          <li id="register"><a href="#" class="menu-link">Register</a></li>
          <li id="about-me"><a href="#" class="menu-link">About Me</a></li>
          <li id="contact"><a href="#" class="menu-link">Contact</a></li>
  	</ul>
</div>