body {
    background-image: url("circuit-board.png");
}

.sidenav {	
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border: 1px solid black;
    border-radius: 2px;
    background-color: #d3d3d3;
    overflow-x: hidden;
    padding-top: 50px;
    transition: 0.5s;
}

.sidenav ul {
    list-style: none;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 35px;
    color: #000000;
    display: block;
    transition: 0.5s
}

.sidenav a:hover, .offcanvas a:focus {
    color: #00BFFF;
}

.closebtn {
	position: absolute;
    top: 2px;
    left: 2px;
}

.closebtn:hover {        
    cursor: pointer;
}

#main {	
	padding: 20px;
    border: 2px solid black;
    border-radius: 100%;
    height: 250px;
    width: 250px;    
    margin-left: auto;
    margin-right: auto;
    background-color: #B0C4DE;    
}

#main:hover {
    background-color: #00BFFF;
}

#main-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 250px;
    height: 250px;
    font-family: Verdana;
}

.header {
    padding: 5px;    
	text-align: center;
    font-family: Helvetica;	  
    background-color: #a8a8a8;        
}

.main {
	text-align: center;
}

.btn { 
    position: relative;    
    border: 2px solid black;
    border-radius: 5px; 
    height: 36px; 
    width:36px;  
}

#menuButton:before { 
    border-bottom: 16px double black;
    border-top: 7px solid black;
    border-radius: 2px;
    content:"";
    height: 5px; 
    position: absolute; 
    right:3px;  
    top: 4px; 
    width:30px; 
}

#menuButton:hover {    
    border-color: #7e7e7e;
    cursor: pointer;
}

#menuButton {
    transition: margin-left 0.5s;
}

.about {
    text-align: center;
}

#hover-text { 
    display: none; 
}

#main:hover #hover-text { 
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 250px;
    height: 250px;
    font-family: Verdana; 
}

#main:hover #main-text {
    display: none;
}

#resources-list a {
    text-decoration: none;
}

#resources-heading {
    margin-left: 200px;
}

#projects-header {
    text-align: center;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;  
  text-align: center;
}

footer a {
    text-decoration: none;
}

#main-content {
    transition: margin-left 0.5s;
}

#header-content {
    transition: margin-left 0.5s;
}